<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <a href="/calendar">Go back</a>
    <h1>All my Events!</h1>
    <a href="/events/new">Create a new Event</a>

    <ul>
    <% allEvents.forEach((ev) => { %>
      <a href="/events/<%= ev._id %>">
        <li>Event: <%= ev.title %> Date: <%= ev.date %> Description: <%= ev.description %> </li>
      </a>
    <% }) %>
  </ul>


  </body>   
</html>